<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bwf.aiyiqi">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Zxing二维码的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.activity.WelcomeActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--将zxing的二维码扫描显示转到自己的scanActivtity中-->
        <activity
            android:name=".gui.activity.ScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>
        <activity android:name=".gui.activity.SmsLoginActivity"/>
        <activity android:name=".gui.activity.MainActivity"/>
        <activity android:name=".gui.activity.SearchActivity"/>
        <activity android:name=".gui.activity.IntegralRulesActivity"/>
        <activity android:name=".gui.activity.DecorationCompanyActivity"/>
        <activity android:name=".gui.activity.HouseDecorationActivity"/>
        <activity android:name=".gui.activity.CityActiveActivity"/>
        <activity android:name=".gui.activity.YiQiGroupActivity"/>
        <activity
            android:name="com.uuzuche.lib_zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            ></activity>
        <activity android:name=".gui.activity.BuildingFurnitureActivity"/>
        <activity android:name=".gui.activity.DecorateSchoolActivity"/>
        <activity android:name=".gui.activity.EffectPictureActivity"/>
        <activity android:name=".gui.activity.DecorateBudgetActivity"/>
        <activity
            android:name=".gui.activity.PostDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".gui.activity.SiteLiveActivity"/>
        <activity
            android:name=".gui.activity.ArticleDetailActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".gui.activity.SiteLiveViewPagerActivity"/>

        <activity android:name=".gui.activity.ActivityHtmlCityActive"/>
        <activity android:name=".gui.activity.AllTagClassify"/>
        <activity android:name=".gui.activity.LoginActivity"/>
        <activity android:name=".gui.activity.ForgetPasswordActivity"/>
        <activity android:name=".gui.activity.DesignActivity"/>
        <activity android:name=".gui.activity.AutoOrderActivity"/>

    </application>

</manifest>